<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @course.field %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @course.points %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
